body{
	background: #005C97; 
 	background: -webkit-linear-gradient(to left, #000428 , #004e92); 
 	background: linear-gradient(to left, #000428 , #004e92);
}

.box{
	float: left;

	width: 30%;
	margin: 1.66%;
	height: 10em;

	background: red;	
}

.title{
	color: #FDFFFC;
	text-align: center;
}

.newGameButton{
	background-color: #FDFFFC;
	color: black;
	margin: 0px auto
}

.newGameButton:hover{
	background-color: #E3E5E2;
	color: black;
}

.selectedColor{
	background-color: #B1B2B0;
}

/*
#FF0022 Blue
#FF0022 Red
#41EAD4 Turquoise
#FDFFFC White Powder
#FDFFFC Violet

*/