h1, h2, h3, h4, h5, h6{
	margin: 0;
}

body{
	background: #005C97; 
 	background: -webkit-linear-gradient(to left, #000428 , #004e92); 
 	background: linear-gradient(to left, #000428 , #004e92);
}

button{
	margin: 0;
}

.box{
	border-radius: 1.5em;	
	margin: 4% 8%;
	height: 10em;

	background: red;

	transition: background 0.2s;
	-webkit-transition: background 0.2s; 
	-moz-transition: background 0.2s;
}

.box:hover{
	opacity: 0.7;
}

.title{
	text-align: center;
}

.newGameButton{
	background-color: #FDFFFC;
	color: black;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	width: 30%;
	max-width: 15em;
}

.newGameButton:hover{
	background-color: #B1B2B0;
	color: black;
}

.selectedColor{
	background-color: #E3E5E2;
}

.body-text{
 	background-color: white;
 	padding: 1rem;
 	font-size: 2.4rem;
}

.box-shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button-row{
	text-align: center;
}

/*
#FF0022 Blue
#FF0022 Red
#41EAD4 Turquoise
#FDFFFC White Powder
#FDFFFC Violet

*/

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}